.params{
    width: 728px;
    border-radius: 30px;
    background-color: #363A51;
    display: flex;
    flex-direction: column;
    padding: 34px 48px 20px 43px;
    position: relative;
    font-family: Helvetica;
    font-size: 16px;
    /* margin: auto; */
    margin-top: 30px;
}