.params__resolutionContainer{
    display: flex;
    gap: 48px;
}

.params__fpsContainer{
    display: flex;
    gap: 94px;
}

.params__button{
    position: absolute;
    right: 35px;
    border-radius: 30px;
    background: #00E384;
    border: none;
    color: #ffffff;
    font-size: 18px;
    padding: 7px 30px;
    justify-content: center;
    font-family: "Poppins";
    cursor: pointer;
    align-items: center;
}

.params__button:hover{
    color: black;
    background-color: white;
}

.params__resolution{
    width: 107px;
    height: 32px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 30px;
    color: white;
    padding-left: 15px;
    
}

.params__resolution_fps{
    background: #7F00E3;
}